@use '../../../../theme' as *;

.title-input, .description-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1vh;
  
  label {
    font-family: $main-page-font-tiny;
    font-size: 1.2vw;
    align-self: flex-start;
    padding-left: 0.5vw;
  }
}

#title-input, #description-input {
  padding: 0.5vw;
  font-family: $main-page-font-tiny;
  font-size: 2vh;
  width: 95%;
  background-color: #EFE9D5;
  resize: none;
  overflow-y: auto;
}

#title-input {height: 2vh; margin: 0.5vh 0.5vw 0 0.5vw;}
#description-input {height: 4vh; margin: 0.5vh 0.5vw 0.2vh 0.5vw;}
