:host {
    user-select: none;
}

body, html {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.page-container {
    image-rendering: pixelated;
    shape-rendering: crispEdges;
    background-image: url('../../../assets/grottebackground.png');
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.light-mouse {
    position: fixed;
    pointer-events: none; 
    transform: translate(-50%, -50%); 
    z-index: 5; 
    width: 300px;
    height: 300px;
    opacity: 0.5;
}

.game-list {
    z-index: 10;
    position: relative;
}

.foreground-cave {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 5vh;
    z-index: 3;
}

button {
    padding: 0;
    border: none;
    background: none;
    z-index: 3;
    position: relative;
}

.container {
    width: 100%;
}

.header {
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.back-button img {
    width: 100px;
    height: auto;
    cursor: pointer;
    margin-left: 45px;
}

.back-button img:hover {
    content: url('../../../assets/back-arrow-hover.png');
}

.add-button img {
    width: 100px;
    height: auto;
    cursor: pointer;
    margin-right: 45px;
}

.add-button img:hover {
    content: url('../../../assets/add-game-hover.png');
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: auto;
}