.header {
    display: flex;
    height: 16vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
    image-rendering: pixelated;
}

.back-button {
    position: absolute;
    left: 4vw;
    display: flex;
    align-items: center;
    z-index: 1;

    button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
    }

    img {
        height: 8vh;
        width: auto;
        cursor: pointer;
    }
}

.back-button img:hover {
    content: url('/assets/back-arrow-hover.png');
}

.home-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: 10vh;
    width: auto;
}