@use '../../../theme' as *;

.container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 110%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.back-button img {
    width: 10vh;
    height: auto;
    cursor: pointer;
    margin-left: 45px;

    &:hover {
        content: url('/assets/back-arrow-hover.png');
    }
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    width: auto;
}

button {
    border: none;
    background: none;
    z-index: 3;
    position: relative;
}

.header {
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
}

.join-game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    .code-inputs {
        display: flex;
        gap: 10px;
        margin: 2vh 0;
    
        input {
            width: 50px;
            height: 50px;
            text-align: center;
            border: 2px solid white;
            border-radius: 5px;
            margin: 0;
            padding: 0;
            font-family: $main-page-font;
            font-size: 2rem;

            &::placeholder {
                opacity: 30%;
            }
        }
    }

    h2 {
        font-family: $main-page-font;
        font-size: 2.5rem;
        margin: 0;
    }

    p {
        font-family: $main-page-font-tiny;
        font-size: 1rem;
        margin-bottom: 0;
    }
  
    button {
      padding: 10px 20px;
      font-size: 1.2em;
      background-color: red;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-family: $main-page-font-tiny;
    }
  
    button:disabled {
      visibility: hidden;
    }
  }