@use '@angular/material' as mat;
@use 'theme' as *;

@include mat.core();

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-snack-bar-container.custom-snackbar {
    & .mdc-snackbar__surface {
        background-color: $sandy-wood-like;
        border: 0.3vw solid $darker-wood-like;
        border-radius: 10px;
        box-shadow: 0px 0px 10px $black;
    }

    & .mdc-snackbar__label {
        color: #de2b2b;
        font-family: $game-preview-font;
        font-size: 1.5vh;
    }

    & .mat-mdc-button {
        color: #FFEEA9 !important;
        font-family: $game-preview-font;
        background-color: $darker-wood-like;
        border: 0.15vw solid #FFEEA9;
        border-radius: 5px;
        margin-left: 8px;
        padding: 0 16px;
        
        .mdc-button__label {
            color: #FFEEA9;
        }
    }
}

.mat-mdc-snack-bar-container.custom-snackbar-positive {
    & .mdc-snackbar__surface {
        background-color: $sandy-wood-like;
        border: 0.3vw solid $darker-wood-like;
        border-radius: 10px;
        box-shadow: 0px 0px 10px $black;
    }

    & .mdc-snackbar__label {
        color: black;
        font-family: $game-preview-font;
        font-size: 1.5vh;
    }

    & .mat-mdc-button {
        color: #FFEEA9 !important;
        font-family: $game-preview-font;
        background-color: $darker-wood-like;
        border: 0.15vw solid #FFEEA9;
        border-radius: 5px;
        margin-left: 8px;
        padding: 0 16px;
        
        .mdc-button__label {
            color: #FFEEA9;
        }
    }
}
