<div class="editor-container">
  <div class="top-section">
    <div class="back-button">
      <button class="button" routerLink="/admin">
        <img src="./assets/back-arrow.png" alt="Back-button" />
      </button>
    </div>
    <header>
      <h1>Créateur de niveau</h1>
    </header>

  </div>
  <div class="main-container">
    <div class="grid-container">
      <app-grid class="game-grid"></app-grid>
    </div>
    <div class="toolbar-container">
      <app-editor-toolbar></app-editor-toolbar>
    </div>
  </div>
</div>