@use '../../../../theme' as *;

.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $wood-like;
    background-color: $light-wood-like;
    padding: 1vh;
    width: 30vw;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

.game-name {
    font-family: $game-preview-font;
    font-size: 2vh;
    font-weight: bold;
    margin-bottom: 1vh;
}

.game-image img {
    width: 100%;
    height: auto;
    padding: 5px;
}

.game-mode {
    font-family: $game-preview-font;
    font-size: 1.5vh;
    margin-top: 1vh;
}

.description {
    font-family: $game-preview-font;
    font-size: 1vh;
    margin-top: 1vh;
}
