@use '../../../../theme' as *;

.popup-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: $light-wood-like;
    padding: 30px;
    width: 40vw;
    max-width: 35vw;
    min-width: 25vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 8px solid $wood-like;
    margin-bottom: 10px;
    color: $black;
    font-family: $game-preview-font;
    border-radius: 10px;
    box-shadow: inset 0 0 5px $wood-like;
    text-align: center;
    position: relative;
    
    h1 {
        margin-top: 30px;
        font-size: 2vh;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    p {
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 1.3vh;
    }
}

.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 6vh;
    height: 6vh;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 2;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
    }
    
    &:hover img {
        content: url('../../../../assets/cancel-hover.png');
        transition: all 0.2s;
    }
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 4vw;
    margin-top: 2vh;
}

.action-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.button-label {
    font-family: $game-preview-font;
    font-size: 1.6vh;
    font-weight: bold;
    text-align: center;
    color: $black;
    margin-bottom: 0.5vh;
}

.action-button {
    width: 8vh;
    height: 8vh;

    button {
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            image-rendering: pixelated;
            image-rendering: crisp-edges;
        }
    }
}

#aggressive-button img:hover {
    content: url('../../../../assets/sword-button-hover.png');
    transition: all 0.2s;
}

#defensive-button img:hover {
    content: url('../../../../assets/shield-button-hover.png');
    transition: all 0.2s;
}