.player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
}

.playerImage {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 100;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
