@use '../../../../theme' as *;

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

h1 {
  font-family: $game-preview-font;
  font-size: 1.2vw;
  margin: 1vh auto 2vh;
  text-align: center;
}

h2 {
  font-family: $main-page-font-tiny;
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.8vw;
  
  &.section-title {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    
    &::before, &::after {
      content: '';
      flex: 1;
      height: 2px;
      background-color: $darker-wood-like;
      margin: 0 1vw;
    }
  }
}

.toolbar-container {
  display: flex;
  flex-direction: column;
  background-color: $light-wood-like;
  border: 1vw groove $wood-like;
  border-radius: 1vw;
  padding: 0 2%;
  height: 100%;
  box-sizing: border-box;
  overflow: visible;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5vh;
}

.placeable-category {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.entity-container {
  cursor: pointer;
  margin: 0.5vh 0.8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 5vh;
}

.entity-img {
  width: 5vh;
  margin: 0.5vh 0;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  
  &:hover {transform: scale(1.1);}
}

.grayed-out .entity-img:hover,
.disabled-overlay ~ .entity-img:hover {
  transform: none;
  cursor: not-allowed;
}

.item-div {position: absolute;}

.description-tool {
  position: absolute;
  bottom: 4vw;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  text-overflow: ellipsis;
  width: 20vw;
  background-color: $darker-wood-like;
  color: #FFEEA9;
  font-family: $main-page-font-tiny;
  text-align: center;
  padding: 0.5vh;
  border-radius: 10px;
  box-shadow: 0 0 10px $black;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  border: 0.3vw solid $sandy-wood-like;
  z-index: 9999;
  white-space: pre-line;
  font-size: 1vw;
}

.toolbar-container > h2.section-title + .placeable-category + h2.section-title + .placeable-category > .entity-container:last-child .description-tool {
  left: auto;
  right: -5vw;
  transform: translateX(0);
}

.entity-img:hover + .description-tool {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.itemCounter {
  font-family: $game-preview-font;
  font-size: 1.5vh;
  position: absolute;
  top: -0.8vh;
  right: -0.8vh;
  background-color: $darker-wood-like;
  color: #FFEEA9;
  border-radius: 50%;
  width: 2.2vh;
  height: 2.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  margin: 0;
  padding: 0;
}

.item-name {
  font-family: $main-page-font-tiny;
  font-size: 0.6vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-by-side-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.item-section {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h2 {
    height: auto;
    white-space: normal;
    margin-bottom: 1vh;
    min-width: 4vh;
    justify-content: center;
  }
  
  .placeable-category {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: auto;
  }
}

.flex-spacer {flex: 1; min-height: 1vh;}

.bottom-elements {
  margin-top: auto;
  margin-bottom: 2vh;
  width: 100%;
}

.bottom-buttons {
  display: flex;
  margin: auto 30% 2vh;
  margin-top: 2vh;
  justify-content: space-between;
}

.resetbutton-img, .createbutton-img {width: 6vh; cursor: pointer;}
.resetbutton-img:hover {content: url('../../../../assets/go-back-hover.png');}
.createbutton-img:hover {content: url('../../../../assets/accept-hover.png');}

.create-button, .reset-btn {
  background-color: transparent;
  border: none;
  font-size: 0.8vw;
  font-family: $game-preview-font;
  display: block;
  margin: 2vh auto 1vh;
}

.grayed-out {filter: grayscale(80%);}

.disabled-overlay, .selected-overlay {
  image-rendering: pixelated;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

.disabled-overlay {
  width: 130%;
  height: 130%;
  background-image: url('../../../../assets/disable_overlay.png');
  opacity: 0.7;
  z-index: 20000;
}

.title-description-editor {
  width: 100%;
}
