<div class="action-counters">
  <div class="separator">
    <span>Actions restantes</span>
</div>
  <div class="action">
    <p class="action-type">Mouvements :</p>
    <div class="action-counter">
      <img class="action-img" src="./assets/running.png" draggable = false>
      <p>{{ movementPoints }}/{{ maxMovementPoints }}</p>
    </div>
  </div>
  <div class="action">
    <p class="action-type">Attaques :</p>
    <div class="action-counter">
      <img class="action-img" src="./assets/sword.png" draggable = false>
      <p>{{ actionPoints }}/{{ maxActionPoints }}</p>
    </div>
  </div>
</div>
<div class="separator"></div>