@use '../../../theme' as *;

:host {
    user-select: none;
}

.foreground {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 20;
}

.foreground img {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.8;
}

.container-justified {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-items: center;

    background-image: url('../../../assets/BackgroundNuages8bit.png');
    background-repeat: repeat-x;
    background-size: 370vh;
    image-rendering: pixelated;

    animation: moveBG 1000s steps(1200) infinite;
}

.top-part img.Logo {
    position: absolute;
    top: 75%;
    left: 50%;
    object-fit: contain;
    aspect-ratio: auto;
    width: 80%;
    image-rendering: pixelated;
    transition: transform 0.2s ease-out;
    will-change: transform;
}

.top-part {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

@keyframes moveBG {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.bottom-part {
    justify-content: space-between;
    background-image: url('../../../assets/grass8bit.png');
    background-repeat: repeat-x;
    background-size: cover;
    image-rendering: pixelated;
}

.bottom-part,
.top-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.buttons-homepage {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.buttons-homepage button {
    font-family: $main-page-font;
    cursor: pointer;
    font-size: 40px;
    border: none;
    background-color: transparent;
    transition:
        font-size 0.3s ease,
        transform 0.3s ease;
    text-align: center;
    padding: 0.8vh;
    color: black;
    opacity: 70%;
    position: relative;

    &:hover {
        transform: scale(1.1);
        opacity: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        left: -6vh;
        top: 50%;
        transform: translateY(-60%);
        width: 3vh;
        height: 3vh;
        background: url('../../../assets/selector.png') no-repeat center / contain;
        transition:
            width 0.3s ease,
            height 0.3s ease,
            opacity 0.3s ease;
        opacity: 0;
    }

    &:hover::before {
        width: 3vh;
        height: 3vh;
        opacity: 0.8;
        left: -4.5vh;
    }
}

.team-name {
    font-family: $main-page-font-tiny;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    opacity: 70%;
}

.footer-item p {
    font-family: $main-page-font-tiny;
    font-size: 14px;
    opacity: 70%;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}
