@use '../../../../theme' as *;

$wood-like-dark-5: #a67c52;
$wood-like-dark-15: #8b6b47;

.popup-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: $light-wood-like;
    padding: 2vh;
    width: 30vw;
    max-width: 25vw;
    min-width: 5vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.8vw solid $wood-like;
    margin-bottom: 1vh;
    color: $black;
    font-family: $game-preview-font;
    border-radius: 1vh;
    box-shadow: inset 0 0 0.5vh $wood-like;
    text-align: center;

    h1 {
        margin-top: 0;
        font-size: 1.8vh;
        font-weight: bold;
        margin-bottom: 1vh;
        color: $wood-like-dark-15;
    }

    p {
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        font-size: 1.5vh;
    }
}

h1 {
    font-size: 1.8vh;
    font-weight: bold;
    color: $wood-like-dark-15;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 0;
    width: 100%;
    text-align: center;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0.3vh;
        background: $wood-like;
        flex: 1;
        margin: 0 1vw;
        box-shadow: 0 0.1vh 0.2vh rgba(0, 0, 0, 0.1);
    }
}

.progress-container {
    width: 100%;
    height: 2vh;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0.2vh solid $wood-like-dark-5;
    border-radius: 0.5vh;
    margin: 2vh 0;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0.1vh 0.3vh rgba(0, 0, 0, 0.2);
}

.progress-bar {
    height: 100%;
    transition:
        background-color 0.3s ease,
        width 0.1s linear;
    border-radius: 0.3vh;
    box-shadow: 0 0 0.5vh rgba(255, 255, 255, 0.5) inset;
}

.countdown-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 1.5vh;
    text-shadow: 0 0.1vh 0.2vh rgba(0, 0, 0, 0.5);
}
