@use '../../../../theme' as *;

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    h1 {
        font-family: $main-page-font;
        color: white;
        text-align: center;
    }

    img {
        width: 15vh;
        height: auto;
    }
}