@use '../../../../theme' as *;

$border-radius-md: 2vh;
$box-shadow-std: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.3);
$color-blue: #0066cc;
$color-border: #333;
$pointer-size: 1.4vh;

@mixin center-horizontal {
    left: 50%;
    transform: translateX(-50%);
}

.character-dialogue {
    background-color: white;
    border-radius: $border-radius-md;
    box-shadow: $box-shadow-std;
    color: $color-border;
    border: 0.3vh solid $color-border;
    padding: 1.5vh 2vh;
    position: absolute;
    z-index: 3;
    bottom: 2vh;
    @include center-horizontal;
    width: 90%;
    height: 12vh;
}

.dialogue-pointer {
    position: absolute;
    top: -$pointer-size;
    left: 25%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: $pointer-size solid transparent;
    border-right: $pointer-size solid transparent;
    border-bottom: $pointer-size solid black;
}

.dialogue-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.character-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 2vh;
}

.stat-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vh;
}

.stat-label {
    font-weight: 1vh;
    display: flex;
    align-items: center;
}

.stat-value,
.stat-value-container span {
    color: $color-blue;
}

.stat-value-container {
    display: flex;
    align-items: center;
    gap: 0.5vh;
    position: relative;
}

.stat-icon {
    width: 2vh;
    height: 2vh;
    margin-right: 0.5vh;
    vertical-align: middle;
}

.dice-icon {
    width: 3.5vh;
    height: 3.5vh;
    vertical-align: middle;
}

.combat-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border-bottom: 0.5vh solid $color-border;
    transition: transform 0.2s ease;
}

.attack-button,
.forfeit-button {
    background: none;
    border: none;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    img {
        height: 4vh;

        &:hover {
            content: url('../../../../assets/attack-button-hover.png');
        }
    }
}

.forfeit-button img:hover {
    content: url('../../../../assets/escape-button-hover.png');
}

.forfeit-container {
    position: relative;
    display: flex;
    align-items: center;
}

@keyframes blink-red {
    0% { background-color: $color-blue; }
    25% { background-color: #ff3333; }
    50% { background-color: $color-blue; }
    75% { background-color: #ff3333; }
    100% { background-color: $color-blue; }
}

.escape-count {
    position: absolute;
    right: -1.5vh;
    top: -0.8vh;
    background-color: $color-blue;
    color: white;
    border-radius: 50%;
    width: 2vh;
    height: 2vh;
    font-size: 1.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 0.2vh solid $color-border;
    transition: opacity 0.2s ease, background-color 0.2s ease;
    
    &.disabled {
        background-color: #999;
        opacity: 0.5;
        cursor: not-allowed;
    }
    
    &.blink-animation {
        animation: blink-red 1.5s ease;
    }
}

.debuff-badge {
    position: absolute;
    top: -1vh;
    right: -1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(41, 182, 246, 0.7);
    color: white;
    font-size: 1.6vh;
    font-weight: bold;
    padding: 0.2vh 0.4vh 0.4vh 0.4vh;
    border-radius: 0.4vh;
    box-shadow: 0 0 0.5vh #29b6f6, 0 0 1vh #0288d1;
    animation: ice-badge-pulse 2s infinite;
    z-index: 5; 
  }
  
  @keyframes ice-badge-pulse {
    0%, 100% { 
      box-shadow: 0 0 0.5vh #29b6f6, 0 0 1vh #0288d1;
    }
    50% { 
      box-shadow: 0 0 1vh #29b6f6, 0 0 2vh #0288d1;
    }
  }