@use '../../../../theme' as *;

.popup-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: $light-wood-like;
    padding: 20px;
    width: 30vw;
    max-width: 25vw;
    min-width: 5vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 8px solid $wood-like;
    margin-bottom: 10px;
    color: $black;
    font-family: $game-preview-font;
    border-radius: 10px;
    box-shadow: inset 0 0 5px $wood-like;
    text-align: center;
}

button {
    padding: 0;
    border: none;
    background: none;
}

.action-button img {
    max-width: 60px;
    height: auto;
    cursor: pointer;
}

#confirm-button img:hover {
    content: url('../../../../assets/accept-hover.png');
}

h1 {
    font-size: 1.3vw;
}