<div class="popup-overlay">
    <div class="popup-content">
        <h1 mat-dialog-title>Niveau sauvegardé avec succès! </h1>
        <div mat-dialog-content>
            <p>Retourner sur la page d'administration? </p>
        </div>
        <div class="form-actions">
            <div class="action-button" id="confirm-button">
                <button class="button" (click)="onConfirm()">
                    <img src="./assets/accept.png" alt="Confirm" />
                </button>
            </div>
        </div>
    </div>
</div>