@use '../../../../theme' as *;

.popup-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: $light-wood-like;
    padding: 20px;
    width: 30vw;
    max-width: 600px;
    min-width: 400px;
    height: auto;
    align-items: center;
    border: 8px solid $wood-like;
    margin-bottom: 10px;
    color:$black;
    font-family: $game-preview-font;
    border-radius: 10px;
    box-shadow: inset 0 0 5px $wood-like;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid $black;
    border-radius: 4px;
    color : $black;
    background-color: $white;
    font-family: $game-preview-font;
    font-size: 0.75em; 
}

select {
    appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.custom-select {
    position: relative;
    width: 30vw;
    max-width: 600px;
    min-width: 400px;
  
    .selected-option {
      background-color: $white;
      color: black;
      box-sizing: border-box;
      border: 1px solid $black;
      border-radius: 4px;
      padding: 8px;
      cursor: pointer;
    }
  
    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $white;
      border: 1px solid black;
      border-radius: 5px;
      list-style: none;
      padding: 0;
      margin: 0;
      z-index: 10;
  
      li {
        padding: 8px;
        cursor: pointer;
        font-family: $game-preview-font;
  
        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
  }
  

.form-actions {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.disabled {
  color: grey;
  pointer-events: none;
  cursor: not-allowed;
}

option {
    background-color: $sandy-wood-like;
    font-family: $game-preview-font;
}

h2 {
    text-align: center;
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border: 5vh;
}

button {
  padding: 0;
  border: none;
  background: none;
}

.error {
    text-align: center;
    font-size: 0.75em;
    color: red;
    font-family: $game-preview-font;
    margin-bottom: 15px;
    margin-top: 15px;
}

.container {
    width: 100%;
}

.action-button img {
  max-width: 60px;
  height: auto;
  cursor: pointer;
}

#cancel-button img:hover {
  content: url('../../../../assets/cancel-hover.png');
}

#submit-button img:hover {
  content: url('../../../../assets/accept-hover.png');
}