@use '../../../../theme' as *;

.victory-message {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vh;
    width: 25vh;
    height: 7vh;
    padding: 5vh 5vw;
    z-index: 10000;
    
    background: linear-gradient(135deg, rgba(255, 204, 0, 0.9), rgba(255, 153, 0, 0.9));
    border-radius: 20px;
    border: 3px solid rgba(255, 204, 0, 1);
    box-shadow: 0 0 20px rgba(255, 204, 0, 0.7);
    
    text-align: center;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    .player-image {
        position: absolute;
        top: -50%;
        height: 140%;
        overflow: visible;
        
        img {
            position: absolute;
            width: 25vh;
            height: 25vh;
            border-radius: 10px;
            filter: drop-shadow(0 0 10px rgba(255, 215, 0, 0.9));
            object-fit: cover;
            object-position: top;
        }
    }

    .victory-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: $main-page-font-tiny;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        color: white;
        letter-spacing: 2px;
        animation: glow 2s ease-in-out infinite alternate;
        
        p {
            font-size: 1.8vh;
            margin-bottom: 0.3vh;
            text-shadow: 
                2px 2px 0 #000,
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
        }
        
        h1 {
            font-size: 3.5vh;
            margin-top: 0;
            text-shadow: 
                3px 3px 0 #000,
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
        }
    }
}

@keyframes glow {
    0% {
        text-shadow: 
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000,
            0 0 5px rgba(255, 255, 255, 0.7);
    }
    100% {
        text-shadow: 
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000,
            0 0 15px rgba(255, 255, 255, 1);
    }
}

.close-dialog {
  position: absolute;
  bottom: 1vh; 
  left: 0;
  width: 100%;
  text-align: center;
  white-space: nowrap; 
  opacity: 50%;
  
  p {
      font-size: 0.75vh;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.5);
      display: inline-block;
      margin: 0;
      padding: 0.5vh 2vh;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}