@use '../../../../theme' as *;

@mixin tooltip {
    position: relative;
    &:hover::before {
      content: attr(data-tooltip);
      position: absolute;
      left: -150px;
      top: 50%;
      transform: translateY(-50%);
      background: white;
      color: black;
      border: 2px solid gray;
      border-radius: 4px;
      padding: 5px;
      width: 100px;
      font-size: 0.8rem;
      line-height: 0.9rem;
      text-align: center;
      z-index: 1000;
      pointer-events: none;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }
    &:hover::after {
      content: '';
      position: absolute;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
      border-left: 8px solid white;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      z-index: 1000;
      pointer-events: none;
    }
  }

.component {display: flex; flex-direction: column; align-items: center}

.champ-info {
  padding: 1vw;
  background-color: $light-wood-like;
  display: flex;
  flex-direction: column;
  width: 26vw;
  background-image: url('../../../../assets/background_window.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}
.champ-info hr {border: none; width: 95%; height: 0.5vh; background-color: $wood-like}
.champ-info p {font-family: $main-page-font-tiny; font-size: 20px}

.powerbar-section,
.dice-container {position: relative; border-radius: 4px}
.powerbar-section {margin-bottom: 2vh}

.power-bar,
.dice-choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  position: relative;
}
.power-bar p,
.dice-choice p {margin: 0; text-align: left}

.power-bar .health,
.power-bar .speed,
.power-bar .attack,
.power-bar .defense,
.dice-choice .health,
.dice-choice .speed,
.dice-choice .attack,
.dice-choice .defense {@include tooltip}
.power-bar .health:hover::before,
.dice-choice .health:hover::before {content: 'Les points de vie déterminent la santé de votre champion'}
.power-bar .speed:hover::before,
.dice-choice .speed:hover::before {content: 'La vitesse détermine la rapidité de déplacement de votre champion'}
.power-bar .attack:hover::before,
.dice-choice .attack:hover::before {content: "L'attaque détermine les dégâts infligés par votre champion"}
.power-bar .defense:hover::before,
.dice-choice .defense:hover::before {content: 'La défense réduit les dégâts reçus par votre champion'}

app-power-bar {flex: 0 0 66%}
app-dice-choice {width: 80%; text-align: right; flex: 0 0 50%}

.player-name-box {display: flex; justify-content: center; align-items: center; padding-bottom: 1vh}

.input-container {
  display: flex;
  align-items: center;
  background: $light-wood-like;
  padding: 8px;
  border: 4px solid $wood-like;
  border-radius: 4px;
  width: 20vw;
  font-family: $main-page-font-tiny;
  font-size: 20px;
}
.input-container input {
  border: none;
  outline: none;
  flex-grow: 1;
  background: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  color: black;
}
.input-container .placeholder {color: black; margin-right: 8px; font-weight: bold; text-transform: uppercase}

button {padding: 0; border: none; background: none}

.lock-in-button img {
  margin-top: 2vh;
  width: 30vh;
  height: auto;
  cursor: pointer;
}
.lock-in-button img:hover {content: url('../../../../assets/lock-in-hover.png')}

img {image-rendering: pixelated; image-rendering: crisp-edges; border: 5vh}

.hr-with-triangle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}
.hr-with-triangle .line {flex: 1; border: none; margin: 0}
.hr-with-triangle .triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $wood-like;
  margin: 0 5px;
}

.dice-bonus {
    font-family: $main-page-font-tiny;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}
